@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav {
    background: #000000;
    height: 80px;
    width: 100%;
    position: fixed;
    flex-wrap: wrap;
    transition: all 0.5s ease;
    position: relative;
    z-index: 10;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(255, 145, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav img {
    height: 100px;
}

nav img.active,
nav img:hover {
    background: none;
}

a.active,
a:hover {
    color: white
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 952px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #530202;
        top: 72px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: rgb(255, 255, 255);
    }
    #check:checked~ul {
        left: 0;
    }
}

body {
    font-family: 'poppins', sans-serif;
}

nav ul li form {
    width: 400px;
    margin: auto;
    margin-top: 8px;
    width: 100%;
}

nav ul li input {
    padding: 8px 10px;
    border: 0;
    font-size: 16px;
    border-radius: 20px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65px;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15rem;
    text-align: center;
}

.btn btn-primary btn-lg {
    color: aqua;
}

.container h3 {
    text-align: center;
    font-size: 40px;
    margin-top: -50px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /*pour adapter la vue quelqu'n soit l'image(si l'écran devient plus petit, le second élément part en bas) */
}

.sections {
    padding: 20px 0px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rbga(0, 0, 0, 0, 5);
}

.home {
    height: 700px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/slide1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -5rem;
}

.home .home-title {
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .home-desc {
    color: white;
    font-size: 19px;
}

.home .button1{
    background: #000000;
    color: white;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
   
  }
  
  .home .button1:hover{
  background: #9c9999;
  color: #000000;
  }

  .home .button2:hover{
    background: #f8cc7a;
    color: #000000;
    }
  
  .home .button2{
    background:orange;
    color: white;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    border: rgb(255, 145, 0);
    margin-top: 1rem;
    cursor: pointer;
    border: none;
  
  }

@media (max-width: 575px) {
    .home .button2 {
        margin-bottom: 5rem;
    }
    .home .home-title {
        margin-top: 200px;
    }
}

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
    margin-top: 5rem;
}

.card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.card:hover {
    transform: rotate(0);
}

.card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: 'poppins', sans-serif;
}

.card p {
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
}

.card .tags {
    display: flex;
}

.card .tags .tag {
    font-size: 0.75em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
}

.card:hover .tags .tag {
    background: var(--color);
    color: white;
}

.card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.card:before,
.card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
}

.card:after {
    background: white;
    width: 200%;
    height: 200%;
}

.card:hover {
    color: var(--color);
}

.card:hover:before,
.card:hover:after {
    transform: scale(1);
}

.card-grid-space .num {
    font-size: 3em;
    margin-bottom: 3rem;
    margin-left: 1rem;
    text-align: center;
    color: orange;
}

.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1285px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }
    .info {
        justify-content: center;
    }
    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }
    .card {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px) {
    .info {
        display: block;
        text-align: center;
    }
    .info h1 {
        margin: 0;
    }
}

.h1-text {
    font-size: 3rem;
    margin: 40px 0;
    color: orange;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9rem;
    margin-bottom: 8rem;
}

.h1 {
    font-size: 3rem;
    margin: 40px 0;
    color: orange;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.h1-text i {
    background-color: orange;
    color: #fff;
    width: 40px;
    height: 40px;
    box-shadow: 2px 5px 30px rgba(80, 123, 252, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 0 20px;
}

.box {
    position: relative;
    min-width: 250px;
    background-color: #fff;
    box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    position: relative;
    border-radius: 10px;
}

.top-bar {
    width: 50%;
    height: 4px;
    background: orange;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 10px 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fa-check-circle {
    color: #17b667;
}

.content img {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content strong {
    font-weight: 500;
    color: #141414;
    margin-top: 10px;
}

.content p {
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    margin: 4px 0px 10px 0px;
}

.containera {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}